@model string

<div class="col-lg-8">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-bar-chart-o fa-fw"></i> Area Chart Example
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div id="facebooks-area-chart"></div>
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
<!-- /.col-lg-8 -->


<script>
    var areaChartData = @Html.Raw(@Model);
    area = {
        element: 'facebooks-area-chart',
        data: areaChartData,
        xkey: 'Day',
        ykeys: ['PositivePostCount', 'NegativePostCount'],
        labels: ['Positive Post', 'Negative Post']
    }
    window.onload = function() {
        Morris.Area(area);
    };
</script>