@model IEnumerable<BusinessInsights.Models.FacebookSearchPagesViewModel>

@{
    ViewBag.Title = "SearchResultList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-sm-12 col-md-4 col-md-push-4">
        <div class="facebookSearchResultList">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p>Search Results</p>
                    @Html.Partial("_SearchBox")
                </div>
                <div class="panel-body">
                    <ul>
                        @foreach (var item in Model)
                        {
                            <li class="page-search-result">

                                <a href="/facebook/dashboard/?Id=@item.Id">
                                    <div>
                                        <span class="page-search-result result-picture">
                                            <img src="@item.PictureUrl" />
                                        </span>
                                        <span class="page-search-result result-title">
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </span>
                                    </div>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .facebookSearchResultList ul {
        list-style-type: none;
        padding-left: 0px;
    }

    .facebookSearchResultList .panel-body {
        padding: 0px 5px;
    }

    .page-search-result {
        padding-bottom: 5px;
    }
    .page-search-result a {
        color: #000;
    }
    .page-search-result a:hover {
         text-decoration: none;
     }
    .page-search-result:hover {
        background: #ecf0f7;
    }
    .page-search-result.result-picture {
        height: 36px;
        width:36px;
    }
    .page-search-result.result-title {
        
    }
</style>

