@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6 col-md-push-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <p>Search page for analysis:</p>
            </div>
            <div class="panel-body">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                    <input type="text" class="form-control" placeholder="Search for...">
                </div><!-- /input-group -->
            </div>
        </div>
    </div>
</div>